<h1 style="color: green">This is Welcome Page</h1>

<!--<h2>< link_to 'about',welcome_about_path%></h2><br>-->
<%=link_to "Article Blog",articles_path %> | <%= link_to 'about',about_path%>
<br><br>
<%= image_tag 'Hydrangeas.jpg' %>